.App {
  text-align: center;
  color: white;
  
  padding: 0;
  
  .search-part{
    background-color: #1E213A;
    min-height: 100vh
    ;
    padding-top: 50px  ;




    form{
      .btn{
        background-color: #3C47E9
        ;
      }
  
      input{
        height: 37px;
        padding-left: 8px;
        background: none;
        color: white;
        border: 1px solid white;
      }

    }


    .today-weather{
      min-height: 75vh;
      color: rgba(255, 255, 255, 0.712);

      .img{
        max-width: 150px;
        img{
          width: 100%;
        }
      }
    }


    
    

  }











  .result-part{
    background-color:  #100E1D;
    ;
    padding-top: 90px  ;
    min-height: 100vh
    ;
  }
}


